.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 38%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --strong-cyan: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --gray-cyan: hsl(184, 14%, 56%);
  --light-gray-cyan: hsl(185, 41%, 84%);
  --very-light-gray-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

body {
  font-family: "Space Mono", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: var(--light-gray-cyan);
  min-height: 100vh;
  /* position: relative; */
}

.container {
  background-color: var(--white);
  display: flex;
  width: 100%;
  max-width: 700px;
  height: 350px;
  text-align: center;
  justify-content: center;

  margin: 0 auto;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  border-radius: 10px;
}

.heading {
  padding-top: 90px;
  color: var(--very-dark-cyan);
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: lighter;

  margin-bottom: 5rem;
}
.card-1 {
  margin-right: auto;
  text-align: left;
  padding: 40px;
}

.total-bill-amount {
  position: relative;
}

.item {
  font-size: 14px;
  color: hsl(186, 14%, 43%);
  margin-bottom: 5px;
}
.icon {
  position: absolute;
  bottom: 34px;
  left: 10px;
}
.input {
  /* width: 100%; */
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: var(--very-light-gray-cyan);
  text-align: right;
  padding-right: 10px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.input:hover {
  border: 2px solid var(--strong-cyan);
}
.input-custom {
  font-size: 20px;
  width: 100%;
  height: 100%;
}
.percent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px;
  margin-bottom: 20px;
}

.tip-percent {
  background-color: var(--very-dark-cyan);
  color: var(--white);
  font-size: 17px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.tip-percent:hover {
  background-color: var(--light-gray-cyan);
  color: black;
}

.custom-percent {
  background-color: var(--very-light-gray-cyan);
  color: black;
}

.custom-percent:hover {
  border: 2px solid var(--strong-cyan);
}
.total-people {
  position: relative;
}
.card-2 {
  background-color: var(--very-dark-cyan);
  width: 350px;
  margin: 20px;
  border-radius: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.tip-amount {
  padding-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tip-amount-text {
  color: var(--white);
  font-size: 1rem;
  /* width: 60px; */
  text-align: left;
}

.text-2 {
  color: var(--gray-cyan);
  font-size: 10px;
}
.tip-amount-total {
  color: var(--strong-cyan);
  font-size: 30px;
}

.tip-amount-total,
.total-person-amount {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tip-amount-total span,
.total-person-amount span {
  display: inline-block;
  max-width: 100%;
}

.total-person-amount {
  margin-top: -50px;
}

.reset-button {
  margin-top: 40px;
  width: 220px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: var(--strong-cyan);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(186, 14%, 43%);
  opacity: 0.4;
  cursor: pointer;
}

.reset-button:hover {
  background-color: var(--light-gray-cyan);
  opacity: 1;
}

@media (max-width: 800px) {
  .heading {
    margin-bottom: 2rem;
  }
  .container {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: 400px;
    height: 100%;

    /* width: 100%; */
  }

  .card-2 {
    padding-bottom: 2rem;
    margin-top: 0;
  }

  .reset-button {
    margin-top: 0;
  }
  /* .tip-amount-text {
    font-size: 1rem;
  } */
}

@media (max-width: 400px) {
  .card-1 {
    /* width: 250px; */
    /* padding-left: 1.5rem; */
  }

  .input {
    width: 100%;
  }
  .percent {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .tip-percent {
    /* width: 120px; */
    padding: 20px 30px;
  }

  .card-2 {
    /* width: 320px; */
    padding-bottom: 2rem;
  }

  .tip-amount-text {
    font-size: 1.2em;
  }

  .tip-percent {
    font-size: 20px;
  }
}
