.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 38%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  font-family: "Space Mono", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  background-color: hsl(185, 41%, 84%);
  min-height: 100vh;
  position: relative;
}

.container {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  width: 100%;
  max-width: 700px;
  height: 350px;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.heading {
  padding-top: 90px;
  color: hsl(183, 100%, 15%);
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: lighter;
}
.card-1 {
  margin-right: auto;
  text-align: left;
  padding: 40px;
}

.total-bill-amount {
  position: relative;
}

.item {
  font-size: 14px;
  color: hsl(186, 14%, 43%);
  margin-bottom: 5px;
}
.icon {
  position: absolute;
  bottom: 34px;
  left: 10px;
}
.input {
  /* width: 100%; */
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: hsl(189, 41%, 97%);
  text-align: right;
  padding-right: 10px;
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}
.input:hover {
  border: 2px solid hsl(172, 67%, 45%);
}
.percent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 10px;
  margin-bottom: 20px;
}

.tip-percent {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 17px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.tip-percent:hover {
  background-color: hsl(185, 41%, 84%);
  color: black;
}

.custom-percent {
  background-color: hsl(189, 41%, 97%);
  color: black;
}

.custom-percent:hover {
  border: 2px solid hsl(172, 67%, 45%);
}
.total-people {
  position: relative;
}
.card-2 {
  background-color: hsl(183, 100%, 15%);
  width: 350px;
  margin: 20px;
  border-radius: 10px;
}

.tip-amount {
  padding-top: 40px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
}

.tip-amount-text {
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  width: 60px;
  text-align: left;
}

.text-2 {
  color: hsl(184, 14%, 56%);
  font-size: 10px;
}
.tip-amount-total {
  color: hsl(172, 67%, 45%);
  font-size: 30px;
}

.total-person-amount {
  margin-top: -50px;
}

.reset-button {
  margin-top: 40px;
  width: 220px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: hsl(172, 67%, 45%);
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(186, 14%, 43%);
  opacity: 0.4;
  cursor: pointer;
}

.reset-button:hover {
  background-color: hsl(189, 41%, 97%);
  opacity: 1;
}
