.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.header {
  display: flex;

  background-color: white;
  padding: 1.5rem 10rem;
  justify-content: space-between;
}

.header-logo {
  flex: 1;
}

.header-details {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.header-links {
  display: flex;
  gap: 2rem;
  list-style: none;

  font-size: 0.9rem;
}

.header-links li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  font-weight: 400;
}

.request-btn {
  background: linear-gradient(to right, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border: none;
  padding: 0.9rem 2rem;
  /* padding: 15px 30px; */
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
}

.request-btn:hover {
  opacity: 0.5;
}

.section-hero {
  display: flex;
  position: relative;
  height: 800px;
  width: 1450px;
  overflow: hidden;
}

.card-content {
  width: 500px;
  margin-left: 50px;
}

.image-1 {
  position: absolute;
  top: -25%;
  left: 40%;
  z-index: -1;
  width: 70%;
}

.image-2 {
  position: absolute;
  left: 62%;
  top: -14%;
  z-index: -1;
  width: 45%;
}
