.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 18px;
}

.header {
  background-color: white;
}

.header-wrapper {
  display: flex;
  padding: 1.5rem 10rem;
  justify-content: space-between;
}
.header-logo {
  flex: 1;
}

.header-details {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.header-links {
  display: flex;
  gap: 2rem;
  list-style: none;

  font-size: 0.9rem;
}

.header-links li a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
  font-weight: 400;
}

.request-btn {
  background: linear-gradient(to right, hsl(192, 70%, 51%), hsl(136, 65%, 51%));
  border: none;
  padding: 0.9rem 2rem;
  /* padding: 15px 30px; */
  border-radius: 30px;
  color: hsl(0, 0%, 100%);
  font-size: 0.8rem;
  font-weight: 400;
  cursor: pointer;
}

.request-btn:hover {
  opacity: 0.5;
}

.section-hero {
  background-color: aliceblue;
}

.section-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  /* position: relative; */
}

.content-left {
  -webkit-box-ordinal-group: 3;
}

.content-right {
  position: relative;
  z-index: 100;
}

.image {
  flex: 2;
  position: absolute;
}

.content-right:before {
  content: "";
  background-image: url("images/image-mockups.png");
}
