.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

main {
  margin-left: 120px;
  position: relative;
}

.top-bg {
  width: 750px;
  height: 400px;
  background-color: hsl(207, 33%, 95%);
  position: absolute;
  right: 0;
  top: 0;
  border-bottom-left-radius: 70px;

  /* z-index: -1; */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;

  /* margin: 40px; */
}
/* .logo {
  margin-left: 80px;
} */

.header-section {
  display: flex;
  list-style: none;
  gap: 30px;
  margin-right: 100px;
}

.header-section li a {
  text-decoration: none;
  text-transform: uppercase;
  color: hsl(230, 29%, 20%);
  font-size: 18px;
  font-weight: 700;
  font-family: "Barlow Condensed", sans-serif;
}

.dot-wrapper {
  margin-top: 5px;
  height: 10px;
  width: 10px;
  background-color: hsl(231, 7%, 65%);
  border-radius: 50%;
}
.header-section .login a {
  color: hsl(231, 7%, 65%);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  position: relative;
  /* margin-left: 120px; */
}
.hero-content {
  width: 400px;
  margin-top: 85px;
}
.card-1 {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.text-new {
  background-color: black;
  color: white;
  padding: 4px 6px;
  font-size: 14px;
  border-radius: 20px;
  text-transform: uppercase;
}

.text {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.primary-heading {
  font-size: 50px;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  color: hsl(230, 29%, 20%);
  margin-bottom: 40px;
}

.primary-text {
  font-size: 18px;
  width: 280px;
  margin-bottom: 60px;
  font-weight: 400;
}
.card-3 {
  display: flex;
  gap: 20px;
}

.demo-btn {
  height: 45px;
  width: 100%;
  padding: 0 25px;
  border: none;
  background-color: hsl(0, 100%, 68%);
  border-radius: 10px;
  color: hsl(207, 33%, 95%);
  text-transform: uppercase;
  font-size: 18px;
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
}

.preview-text {
  margin-top: 15px;
}

.hero-img {
  position: absolute;
  /* right: -16%; */
  left: 45%;
}
