.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --cta-text: hsl(356, 100%, 66%);
  --cta-hover-bg: hsl(355, 100%, 74%);
  --main-heading: hsl(208, 49%, 24%);

  --text-main: hsl(0, 0%, 100%);
  --text-footer: hsl(240, 2%, 79%);
  --text-body: hsl(207, 13%, 34%);
  --footer-bg: hsl(240, 10%, 16%);

  --gradient-bg-very-light-red: hsl(13, 100%, 72%);
  --gradient-bg-light-red: hsl(353, 100%, 62%);

  --gradient-body-gray-blue: hsl(237, 17%, 21%);
  --gradient-body-desaturated-blue: hsl(237, 23%, 32%);
}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-body);
}

.header {
  background-image: url("images/bg-pattern-intro-desktop.svg"),
    linear-gradient(
      90deg,
      var(--gradient-bg-very-light-red),
      var(--gradient-bg-light-red)
    );
  /* min-height: 80vh; */
  /* height: 60vh; */
  /* width: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 100px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

.header-left {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-links {
  display: flex;
  gap: 50px;
}

.product-links {
  position: relative;
}

.open-dropdown {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  cursor: pointer;
  color: var(--text-main);
}

.open-dropdown:hover {
  text-decoration: underline;
}

.arrow-icon {
  margin-left: 10px;
  transition: transform 0.3s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown {
  display: block;

  position: absolute;
  top: 20px;
  width: 200px;
  height: auto;

  /* overflow: hids */
  transition: max-height 0.3s ease-in-out;

  background-color: var(--text-main);
  border-radius: 10px;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
  padding-left: 1rem;
  margin-top: 1.5rem;

  display: none;
}

.dropdown.active {
  display: block;
  /* height: 140px; */
  /* height: auto; */

  bottom: -1.1rem;
  left: -2rem;
  width: 120px;
  padding-top: 1rem;
  /* z-index: 1; */
}

.dropdown.active.first-dropdown {
  height: 160px;
}

.dropdown.active.second-dropdown {
  height: 140px;
}

.dropdown.active.third-dropdown {
  height: 110px;
}

.dropdown-list {
  /* display: none; */
}

.dropdown-list {
  padding: 0;
  margin: 0;
}
.dropdown-list li {
  list-style: none;
  margin-top: 10px;
}

.dropdown-list li a {
  display: block;
  text-decoration: none;
  color: black;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

.dropdown-list li a:hover {
  font-weight: 800;
  font-size: 16px;
}

.button {
  padding-bottom: 120px;
}

.login-btn {
  border: none;
  background-color: inherit;
  color: var(--text-main);
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn {
  border: none;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 16px;

  color: var(--gradient-bg-light-red);
  font-weight: 700;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: var(--cta-hover-bg);
  color: var(--text-main);
}

.header-details {
  text-align: center;
}

.primary-heading {
  font-size: 50px;
  color: var(--text-main);
  font-weight: 400;
  margin-bottom: 30px;
}

.text {
  margin-bottom: 30px;
  font-weight: lighter;
  color: var(--text-main);
}

.button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.learn-more-btn {
  padding: 10px 25px;
  font-weight: 700;
  border: none;
  background: linear-gradient(
    var(--gradient-bg-very-light-red),
    var(--gradient-bg-light-red)
  );
  border: 1px solid var(--text-main);
  border-radius: 40px;
  cursor: pointer;
  color: var(--text-main);
}

.learn-more-btn:hover {
  background: var(--text-main);
  color: var(--gradient-bg-light-red);
}

.section-1 {
  overflow: hidden;
  padding-bottom: 200px;
}
.heading-secondary {
  text-align: center;
  font-size: 35px;
  font-weight: 400;
  margin-top: 100px;
  color: var(--main-heading);
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 100px;
  position: relative;
}
.hero-content {
  width: 520px;
  margin-top: 85px;
  margin-left: 100px;
}
.card-1 {
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 30px;
  color: var(--main-heading);
  font-family: "Overpass", sans-serif;
}

.para {
  margin: 10px 0px 50px 0px;
  font-size: 16px;
  color: var(--text-body);
  line-height: 1.8;
}

.hero-img {
  position: absolute;
  top: -25%;
  left: 55%;
}

.mobile-img {
  display: none;
}

.section-2 {
  display: flex;
  gap: 80px;

  /* justify-content: space-around; */
  margin-bottom: 100px;
  /* height: 45vh; */

  background-image: url("images/bg-pattern-circles.svg"),
    linear-gradient(
      var(--gradient-body-gray-blue),
      var(--gradient-body-desaturated-blue)
    );
  border-bottom-left-radius: 70px;
  background-repeat: no-repeat;
  background-position: -65% 87%;
  border-top-right-radius: 70px;
  height: 380px;

  /* position: relative; */
}

.section-2-title {
  margin-top: 100px;
  color: var(--text-main);
}

.section-2-para {
  color: var(--text-main);
  width: 470px;
  font-size: 14px;
}

.image-left {
  margin-left: 40px;
  position: relative;
  bottom: 22%;
  /* position: absolute; */
}

.section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 200px;
}

.hero-img-1 {
  position: absolute;
  top: 0;
  right: 52%;
}

.mobile-img-1 {
  display: none;
}
.hero-content-section-3 {
  margin-top: 150px;
  margin-right: 120px;
  margin-left: auto;
  /* position: absolute; */
}

.footer {
  background-color: var(--footer-bg);
  display: flex;
  gap: 150px;
  padding: 40px 80px 40px 150px;
  border-top-right-radius: 80px;
}

.footer-details {
  display: flex;
  gap: 150px;
}

.footer-card p {
  color: var(--text-main);
  margin-left: 38px;
}

.footer-link {
  list-style: none;
}

.footer-link li {
  padding-bottom: 15px;
}

.footer-link li a {
  text-decoration: none;
  color: var(--text-footer);
}

.footer-link li a:hover {
  text-decoration: underline;
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  width: 80px;
  height: 50px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  /* background-color: green; */
  display: none;
}

.menu-btn-1 {
  width: 60px;
  height: 4px;
  background-color: var(--text-main);
  transition: all 0.2s ease-in-out;
}

.menu-btn-1::before {
  content: "";
  position: absolute;
  top: 1rem;
  width: 60px;
  height: 4px;
  background-color: var(--text-main);
  transition: all 0.2s ease-in-out;
  z-index: 5;
}
.menu-btn-1::after {
  content: "";
  position: absolute;
  top: 2rem;
  width: 60px;
  height: 4px;
  background-color: var(--text-main);
  transition: all 0.2s ease-in-out;
  z-index: 5;
}

@media screen and (max-width: 768px) {
  .header-links,
  .header-right {
    display: none;
  }

  .menu-btn {
    display: flex;
    position: absolute;
    right: 0;
  }
  .mob-nav-bar {
    background-color: white;

    padding: 25px 15px;
    width: 200px;
    position: absolute;
    left: -200px;
    top: 80px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 5px 5px rgba(12, 12, 12, 0.3);
    text-align: center;

    display: none;
  }

  .mob-product-links {
    margin-bottom: 1rem;
  }

  .mob-product-links a {
    color: black;
  }

  .mob-product-links a img {
    color: black;
  }
  .mob-nav-bar.active {
    display: block;
  }

  .mob-header-right {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }

  .login-btn {
    color: black;
  }

  .mob-arrow-icon {
    color: black;
  }

  /* .mob-header-right::before {
    content: "";
    display: block;
    width: 180px;
    height: 1px;
    background-color: var(--text-footer);
    margin-top: 10px;
    position: absolute;
    left: 2rem;
    top: 8rem;
  } */

  .dropdown.active {
    background-color: var(--text-footer);
    position: relative;
    left: 2rem;
    height: 400px;
    height: auto;
    padding: 15px;
    top: -1rem;
  }

  .dropdown-list {
    position: absolute;
    padding-left: 1rem;
    /* bottom: 2rem; */
    transition: all 0.3s ease-out;
  }

  .mob-signup-btn {
    font-weight: 700;
    border: none;
    background: linear-gradient(
      var(--gradient-bg-very-light-red),
      var(--gradient-bg-light-red)
    );
    border: 1px solid var(--text-main);
    border-radius: 40px;
    cursor: pointer;
    color: var(--text-main);
    padding: 10px 20px;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: inline-block;
  }

  .hero {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .hero-img {
    position: absolute;

    top: 0;
    left: 10rem;

    margin-right: auto;
  }
  /* 
  .image-wrapper {
    text-align: center;
  } */

  .heading-secondary {
    /* margin-bots 15rem; */
  }

  .hero-content {
    margin-top: 20rem;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 600px;
    text-align: center;
    justify-items: center;
    padding-bottom: 10rem;
    margin-bottom: -200px;
  }

  .image-left {
    bottom: 200px;
  }
  .info-right {
    margin-top: -200px;
  }

  .section-2-title {
    font-size: 2rem;
    width: 250px;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .section-2-para {
    /* width: 250px; */
    text-align: center;
    margin: 0 auto;
  }

  .section-3 {
    display: flex;
    flex-direction: column;
    /* gap: 100rem; */
    position: relative;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin-top: 5rem;
    margin-bottom: -10rem;
  }

  .hero-img-1 {
    top: 200px;
    left: 3rem;
  }

  .desktop-img-1 {
    display: none;
  }

  .mobile-img-1 {
    display: block;
  }

  .hero-content-section-3 {
    margin-top: 35rem;
    text-align: center;
  }

  .footer {
    gap: 0;
    margin: 0;
    padding: 0;
    padding-top: 2rem;
  }
  .footer-details {
    gap: 80px;
  }
}
