.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  background-image: url("images/bg-pattern-intro-desktop.svg"),
    linear-gradient(90deg, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  /* height: 100vh; */
  height: 60vh;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 100px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}

.header-left {
  display: flex;
  gap: 50px;
}

.header-links {
  display: flex;
  gap: 50px;
}

.open-dropdown {
  color: hsl(0, 0%, 100%);
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  cursor: pointer;
}

.open-dropdown:hover {
  text-decoration: underline;
}

.open-dropdown img {
  margin-left: 10px;
}

.dropdown-list {
  display: none;
}
.dropdown-list li {
  list-style: none;
  margin-top: 20px;
}

.dropdown-list li a {
  text-decoration: none;
  color: black;
  font-family: "Overpass", sans-serif;
  font-size: 16px;
}

.login-btn {
  border: none;
  background-color: inherit;
  color: hsl(0, 0%, 100%);
  margin-right: 20px;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn {
  border: none;
  padding: 10px 25px;
  border-radius: 40px;
  font-size: 16px;

  color: hsl(353, 100%, 62%);
  font-weight: 700;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: hsl(355, 100%, 74%);
  color: hsl(0, 0%, 100%);
}

.header-details {
  text-align: center;
}

.primary-heading {
  font-size: 50px;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
  margin-bottom: 30px;
}
