.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* position: relative; */
  display: grid;
  place-items: center;
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans";
}
main {
  max-width: 100%;
  width: 380px;
  text-align: center;

  /* display: grid;
  place-items: center; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  translate: transform(-50%, -50%); */
}

.balance {
  margin-top: 70px;
  display: flex;
  margin-bottom: 20px;
  background-color: hsl(10, 79%, 65%);
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.my-balance {
  color: white;
}
.text {
  font-size: 14px;
}

.balance-amount {
  font-size: 25px;
  font-weight: 700;
}

.logo {
  margin-left: auto;
}
.spending {
  background-color: red;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 20px;
}
.bars {
  display: flex;
  text-align: center;
  gap: 20px;
}

.bar {
  height: 20px;
  max-width: 100%;
  width: 20px;
  background-color: yellow;
}

.horizontal-line::after {
  content: "";
  display: block;
  border: 2px solid blue;
}
.total {
  display: flex;
  justify-content: space-between;
}
