.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* position: relative; */
  display: grid;
  place-items: center;
  background-color: hsl(27, 66%, 92%);
  font-family: "DM Sans";
}
main {
  max-width: 100%;
  width: 360px;
  text-align: center;

  /* display: grid;
  place-items: center; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  translate: transform(-50%, -50%); */
}

.balance-section {
  margin-top: 70px;
  display: flex;
  margin-bottom: 20px;
  background-color: hsl(10, 79%, 65%);
  padding: 20px;
  border-radius: 20px;
  text-align: left;
}

.my-balance {
  color: white;
}
.text {
  font-size: 14px;
}

.balance-amount {
  font-size: 25px;
  font-weight: 700;
}

.logo {
  margin-left: auto;
}
.spending-section {
  background-color: white;

  /* padding-left: 30px;
  padding-right: 30px; */
  border-radius: 20px;
  height: 380px;
}

.spending-heading {
  font-size: 26px;
  padding: 35px;
  font-weight: 700;
}
.spending-bars {
  /* position: relative; */
}
.bars {
  display: flex;

  text-align: center;
  gap: 12px;
  padding: 20px;
}

.bar {
  height: 120px;
  max-width: 100%;
  width: 35px;
  background-color: hsl(10, 79%, 65%);
  border-radius: 5px;
  display: block;
}
.bar-1 {
  height: 40px;
}
.bar-2 {
  height: 80px;
}

.bar-3 {
  background-color: hsl(186, 34%, 60%);
}

.bar-4 {
  height: 70px;
}

.bar-5 {
  height: 60px;
}

.bar-6 {
  height: 100px;
}

.bar-5 {
  height: 65px;
}
.spending-day {
  /* position: absolute; */
}
.horizontal-line::after {
  content: "";
  display: block;
  border: 2px solid blue;
}
.total {
  display: flex;
  justify-content: space-between;
}
