.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

main {
  position: relative;
  min-height: 100vh;
}

.header {
  background-image: url("images/bg-pattern.svg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  min-height: 50vh;
  position: relative;
}
.header-img {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-details {
  padding-top: 120px;
}
.primary-heading {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.primary-text {
  font-size: 12px;
  color: hsl(225, 20%, 60%);
}

.container {
  background-color: white;
  max-width: 100%;
  width: 500px;
  position: absolute;
  top: 30%;
  box-shadow: 0 10px 40px -20px rgb(46 78 150 / 40%);

  left: 30%;
  padding: 50px 30px;

  border-radius: 10px;
}
.container-header {
  margin-bottom: 40px;
}

.container-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.container-text {
  color: hsl(225, 20%, 60%);
  font-size: 12px;
}

.pageviews {
  padding-top: 10px;
}
.price-per-month {
  font-size: 28px;
  color: black;
  font-weight: 800;
}
.slider {
  width: 100%;
  -webkit-appearance: none;
  background-color: grey;
  background-image: linear-gradient(
    90deg,
    hsl(174, 77%, 80%) 50%,
    hsl(224, 65%, 95%) 50%
  );
  border-radius: 10px;
  color: green;
}

.main-2 {
  width: 100%;
  margin: 5px auto;
  position: relative;
}

#slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 3px;
  background-color: hsl(224, 65%, 95%);
  border: none;
}

/* Design slider button */
#slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 48px;
  height: 48px;
  cursor: pointer;
  position: relative;
  z-index: 3;
}

#selector {
  height: 104px;
  width: 48px;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.selectBtn {
  height: 40px;
  width: 40px;

  border-radius: 50%;
  position: absolute;
  bottom: 8px;
  background-color: hsl(174, 86%, 45%);
}

#progressBar {
  width: 50%;
  height: 7px;
  background: hsl(174, 77%, 80%);
  border-radius: 3px;
  position: absolute;
  bottom: 4px;
  left: 0;
}
.toggle-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-top: 30px;
}

.text {
  margin-left: 5px;
  margin-right: 5px;
  color: hsl(225, 20%, 60%);
  font-size: 11px;
}

.discount {
  background-color: hsl(14, 92%, 95%);
  color: hsl(15, 100%, 70%);
  border-radius: 10px;
  padding: 0.1rem 0.6rem;
  font-size: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle-1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: hsl(223, 50%, 87%);
  transition: 0.4s;
}

.toggle-1::before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  background-color: hsl(0, 0%, 100%);
  transition: 0.4s;
  margin-top: 2px;
  margin-left: 2px;
  border-radius: 10px;
}

.toggle-1.round {
  border-radius: 34px;
}

.horizontal-line {
  display: block;
  border: 1px solid hsl(224, 65%, 95%);
  margin-bottom: 20px;
}

.container-footer {
  display: flex;
  justify-content: space-between;
}

.card {
  list-style: none;
}
.card-item {
  padding-bottom: 10px;
  font-size: 12px;
  color: hsl(225, 20%, 60%);
}
.checked-icon {
  width: 16px;
}

.trial-button {
  margin-top: 25px;

  background-color: hsl(227, 35%, 25%);
  color: hsl(226, 100%, 87%);
  font-size: 13px;
  border: none;
  padding: 8px 25px;
  border-radius: 25px;
}
