.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  font-size: 18px;
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  background-image: url("./images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.heading-primary {
  font-size: 2.9rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: hsl(210, 10%, 33%);
}

.text-primary {
  font-size: 1.3rem;
  padding-right: 24rem;
  padding-left: 24rem;
  margin-bottom: 2.5rem;
  color: hsl(201, 11%, 66%);
  line-height: 1.5;
}

.btn {
  padding-top: 18px;
  padding-right: 45px;
  padding-bottom: 18px;
  padding-left: 45px;
  border-radius: 48px;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 400;
  color: white;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  border: none;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 8rem;
}

.btn-ios {
  margin-right: 0.5rem;
  background-color: hsl(171, 66%, 44%);
  border-bottom: 3px solid hsl(171deg 63% 35%);
}

.btn-mac {
  background-color: hsl(233, 100%, 69%);
  border-bottom: 3px solid hsl(233deg 49% 51%);
}

.heading-secondary {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: hsl(210, 10%, 33%);
}

.text-secondary {
  font-size: 1.1rem;
  padding-left: 25rem;
  padding-right: 25rem;
  margin-bottom: 5rem;
}

.section-2 {
  margin-bottom: 10rem;
}

.container-feature {
  display: flex;
  gap: 8rem;
}

.container-1-image {
  width: 80%;
  margin-left: -40px;
}

.feature-details {
  text-align: left;
}

.feature-list {
  list-style: none;
}

.feature-item {
  margin-bottom: 80px;
}

.heading-tertiary {
  margin-top: 4rem;
  margin-bottom: 1.2rem;
  color: hsl(210, 10%, 33%);
}

.text-tertiary {
  font-size: 1rem;
  padding-left: 0;
  padding-right: 20rem;
}

.text-clipboard {
  font-size: 1.1rem;
  margin-bottom: 6rem;
}

.section-3-image {
  margin-bottom: 6rem;
}

.container-workflow {
  padding-left: 8rem;
  padding-right: 8rem;
}

.workflow {
  display: flex;
}

.text-workflow {
  color: hsl(201, 11%, 66%);
  padding-right: 0.5rem;
  padding-left: 1.5rem;
  /* padding-bottom: 10rem; */
  font-size: 1.05rem;
  line-height: 1.8;
  width: 400px;
}

.section-4 {
  margin-bottom: 10rem;
}

.text-workflow-content {
  font-size: 1.1rem;
  color: hsl(201, 11%, 66%);
  padding-bottom: 5rem;
}

.icon-workflow {
  margin-bottom: -30px;
}

.section-5 {
  margin-bottom: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  padding-right: 100px;
  padding-left: 100px;
}

.logo-brand {
  width: 140px;
}

.text-download {
  font-size: 1.1rem;

  line-height: 1.6;
}

footer {
  background-color: #f6f6f6;
  margin-bottom: 5rem;
}

.footer-details {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-nav {
  list-style: none;
}
.footer-nav a:link {
  text-decoration: none;
}

.social-links {
  display: flex;
  list-style: none;
  gap: 2.5rem;
  color: blue;
}

.footer-logo {
  height: 50px;
}
