.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 16px;
}

header {
  width: 100%;
  height: 130px;
  padding: 0 8rem;
}

.nav-header {
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid hsl(223, 64%, 98%);
  width: 100%;
  height: 100%;
}

.header-box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo {
  padding-right: 5rem;
}

.header-details ul {
  display: flex;
  list-style: none;
}

.header-details ul li a {
  text-decoration: none;
  padding-left: 10px;
  padding-right: 30px;
  color: hsl(0, 0%, 0%);
}

.header-box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.header-cart {
  border: none;
  background-color: hsl(0, 0%, 100%);
}

.avatar-box img {
  width: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 4rem;
  gap: 80px;
  padding-left: 10rem;
  padding-right: 10rem;
}

.product-image img {
  width: 90%;
  border-radius: 20px;
}

.product-list-img {
  margin-top: 2rem;
}
.product-list-img ul {
  display: grid;
  grid-template-columns: repeat(4, 90px);

  gap: 40px;
  list-style: none;
}

.product-list-img ul li img {
  width: 100%;
  border-radius: 10px;
  display: block;
}

.container-2 {
  width: 480px;
}

.product-info {
  margin-top: 3.5rem;
}

.company-name {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 2px;
}

.heading {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.description {
  color: hsl(219, 9%, 45%);
  margin-bottom: 2rem;
  line-height: 1.5;
}

.product-price {
  margin-bottom: 0.5rem;
}
.offer-price {
  color: hsl(0, 0%, 0%);
  font-weight: bolder;
  font-size: 2rem;
  padding-right: 0.5rem;
}

.discount {
  color: hsl(26, 100%, 55%);
  font-size: 1rem;
  font-weight: bold;
  background-color: hsl(25, 100%, 94%);
  padding: 5px 10px;
  border-radius: 5px;
}

.sale-price {
  color: hsl(220, 14%, 75%);
  font-weight: 700;
  margin-bottom: 2rem;
  text-decoration: line-through;
}

.product-btn {
  display: flex;
  gap: 2.5rem;
}

.quantity-btn {
  background-color: hsl(223, 64%, 98%);
  height: 50px;
  min-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.minus-btn,
.num,
.plus-btn {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
}

.add-to-cart-btn button {
  background-color: hsl(26, 100%, 55%);
  border: none;
  height: 50px;
  min-width: 250px;
  /* padding: 15px 70px; */
  border-radius: 10px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 15px;
  font-weight: bold;
}

.cart-img {
  text-align: center;
  filter: brightness(0) invert(1);
  width: 30px;
  padding-right: 12px;
}
