.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero {
  /* width: 80%; */
  /* max-width: 750px; */
  /* margin: 0 auto; */
  padding: 40px 120px;
  /* margin: 0 auto; */
}

.header__logo {
  max-width: 100%;
}

/* .nav {
  display: flex;
  justify-content: space-between;
} */

.nav {
  /* flex-grow: 1; */
}

.nav__list {
  /* margin-left: auto; */
}

.nav__item {
  list-style: none;
}

.nav__link {
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--very-dark-blue);
}
.nav__item + .nav__item {
  margin-left: 2em;
}

.login {
  background-color: var(--soft-red);
  color: white;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Adjust the values as needed */
}

.login:hover {
  background-color: white;
  color: var(--very-dark-blue);
}

.heading-1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: var(--very-dark-blue);
}

.description {
  font-size: 16px;
  line-height: 1.4;
  color: var(--grayish-blue);
  margin-bottom: 20px;
}

.btn {
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.chrome-btn {
  background-color: var(--soft-blue);
  color: white;
}

.chrome-btn:hover,
.firefox-btn:hover {
  background-color: var(--very-dark-blue);
  /* color: var(--very-dark-blue); */
}

.firefox-btn {
  color: var(--very-dark-blue);
  background-color: hsla(165, 17%, 95%, 0.664);
  margin-left: 1em;
}

.firefox-btn:hover {
  /* background-color: var(--grayish-blue); */
  color: white;
}

/* .section-1__img img {
  width: 100%;
} */

.section-1__img {
  position: relative;
}

.section-1__img::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 30%;
  width: 180px;
  height: 10px;
  padding: 180px 200px;
  background-color: var(--soft-blue);
  z-index: -1;
  border-bottom-left-radius: 180px;
}

.section-2 {
  /* text-align: center; */
  margin-top: 200px;
  margin-bottom: 200px;
}

.heading-2 {
  font-size: 30px;
  color: var(--very-dark-blue);
  font-size: 500;
}

.heading-2,
.description,
.feature {
  text-align: center;
  margin-bottom: 20px;
}

.feature-details__card {
  margin-top: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* flex-direction: column; */
}

.features {
  justify-content: center;
}

.feature {
  font-size: 18px;
  margin-left: 5rem;
  color: var(--very-dark-blue);
  cursor: pointer;
  transition: 0.5s;
}
.feature:hover {
  color: var(--soft-red);
}

.feature_text {
  font-size: 16px;
  width: 80%;
  max-width: 470px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 50px;
}

.line {
  /* border: var(--grayish-blue); */
  color: var(--very-dark-blue);
  margin: 0 auto;
  width: 50%;
}
.card-left {
  margin-right: 50px; /* Adjust the value as needed */
}

.card-right {
  margin-left: 50px; /* Adjust the value as needed */
}

.heading-3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--very-dark-blue);
}

.text {
  color: var(--grayish-blue);
  width: 85%;
  line-height: 1.4;
  margin-bottom: 20px;
}

.info-btn {
  background-color: var(--soft-blue);
  color: white;
}
.card-left {
  position: relative;
}

.card-left::after {
  content: "";
  position: absolute;
  top: 30%;
  right: 15%;
  width: 180px;
  height: 10px;
  padding: 150px 250px;
  background-color: var(--soft-blue);
  z-index: -1;
  border-bottom-right-radius: 180px;
}

.section-3__download {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 10rem;

  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  /* grid-column-gap: 40px; */
}

.download {
  text-align: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 20px;
  max-width: 350px;
  width: 100%;
  height: 100%;

  /* flesx: 1; */
}
.download-1,
.download-2,
.download-3 {
  flex-basis: 31%; /* Equal distribution of space among all download items */
}

.download-1,
.download-2 {
  /* margin-right: 3rem; */
}

.download-2 {
  margin-top: 3rem;
  /* align-self: flex-start; */
}

.download-3 {
  margin-top: 6rem;
}

.download img {
  margin-bottom: 20px;
}

.heading-4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.download_text {
  width: 100%;
  margin-bottom: 40px;
}

.install-btn {
  font-size: 18px;
  font-weight: 500;
  color: white;
  background-color: var(--soft-blue);
}

.install-btn:hover {
  background-color: var(--very-dark-blue);
}

.download-line {
  margin: 20px 20px 20px;
  border: 0;
  border-bottom: 4px dotted hsl(229, 8%, 60%);
}

.section-4 {
  padding: 40px 450px;
}

.section-4__faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* text-align: center; */
  margin-top: 2rem;
  /* max-width: 500px; */
  /* width: 100%; */
  /* margin: 0 auto; */
  /* margin-left: 300px; */
  /* max-width: 600px; */
  /* width: 100%; */
}

.dropdown {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
}

.questions {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-between;
}

.answer {
  color: var(--very-dark-blue);
  /* width: 80%; */
  /* text-align: center; */
}
