.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.form-info {
  display: flex;
  flex-direction: column;
}

.form-info input {
  width: 200px;
}
