@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");

:root {
  --color-dark-magenta: hsl(300, 43%, 22%);
  --color-soft-pink: hsl(333, 80%, 67%);
  --color-dark-grayish-magenta: hsl(303, 10%, 53%);
  --color-light-grayish-magenta: hsl(300, 24%, 96%);
  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  background: url(images/bg-pattern-top-desktop.svg) top left no-repeat,
    url(images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
  color: var(--color-dark-magenta);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;

  align-items: center;
}

.section-1 {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.card-1 {
  width: 100%;
  max-width: 500px;
  flex: 1 1 300px;
}

.heading-1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.text {
  font-size: 18px;
  line-height: 1.4;
}

.reviews {
  display: flex;
  background-color: var(--color-light-grayish-magenta);
  margin-bottom: 20px;

  width: 100%;
  padding: 20px;

  padding-right: 40px;
  border-radius: 5px;
  font-weight: 700;
}

.review-2 {
  position: relative;
  left: 10%;
}

.review-3 {
  position: relative;
  left: 20%;
}

.review-star {
  margin-right: 20px;
}

.section-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

  gap: 30px;
  color: var(--color-light-grayish-magenta);
  justify-content: center;
}

.user-reviews {
  background-color: var(--color-dark-magenta);
  padding: 25px;
  border-radius: 10px;
  width: 100%;

  margin-bottom: 20px;
  padding-bottom: 40px;
}

.user-profile {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.user-img {
  width: 15%;
  border-radius: 50%;
}

.user-name {
  padding-bottom: 5px;
}

.verified-buyer {
  color: var(--color-soft-pink);
}

.description {
  font-weight: 400;
  line-height: 1.6;
}

.user-reviews-2 {
  position: relative;
  top: 10%;
}

.user-reviews-3 {
  position: relative;
  top: 30%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.attribution {
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 930px) {
  main {
    margin-top: 100px;
  }
  .user-reviews-2 {
    top: 0;
  }

  .user-reviews-3 {
    position: relative;
    top: 0;
  }

  .review-2 {
    left: 0;
  }

  .review-3 {
    left: 0;
  }
}
@media (max-width: 845px) {
  main {
    margin-top: 300px;
  }
}
@media (max-width: 600px) {
  main {
    margin-top: 600px;
  }
}

@media (max-width: 600px) {
  main {
    margin-top: 1000px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
  }

  .reviews {
    padding: 20px 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .user-reviews {
    padding-left: 68px;
    padding-right: 68px;
  }
  .description {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  main {
    margin-top: 1300px;
  }
  .reviews {
    padding: 20px 60px;

    gap: 20px;
  }

  .user-reviews {
    padding-left: 40px;
    padding-right: 40px;
  }
}
