:root {
  --color-desaturated-red: hsl(0, 36%, 70%);
  --color-soft-red: hsl(0, 93%, 68%);
  --color-dark-grayish-red: hsl(0, 6%, 24%);

  --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

main {
  display: flex;
  padding-left: 10rem;
  background-image: url(images/bg-pattern-desktop.svg);
  background-repeat: no-repeat;
  margin-bottom: 4rem;
}

.container-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-self: flex-start;
  margin-left: -10rem;
  justify-content: center;
}

.header-logo {
  padding-top: 2rem;
  align-self: flex-start;
}
.logo {
  max-width: 200px;
  margin-top: 0;
}

.heading-1 {
  font-size: 4rem;
  font-weight: 300;
  color: var(--color-desaturated-red);
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  margin-bottom: 2rem;
}

.heading-1-span {
  color: var(--color-dark-grayish-red);
  font-weight: 700;
  display: block;
  margin-top: 1rem;
}

.description {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
  color: var(--color-desaturated-red);
  max-width: 450px;
}

form {
  display: flex;
  position: relative;
}

.form-input {
  display: flex;
  flex-direction: column;
}

input,
button {
  height: 50px;
  border: 1px solid var(--color-desaturated-red);
}
input {
  padding-left: 2rem;
  padding-right: 16.5rem;
  margin-right: 1rem;
  border-radius: 50px;
  position: relative;
}

input::placeholder {
  color: var(--color-desaturated-red);
}

button {
  height: 50px;
  background: var(--gradient-2);
  box-shadow: 5px 2px 5px var(--color-desaturated-red);
  color: #fff;
  border-radius: 50px;
  padding: 10px 40px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  transition: transform 0.3s ease;
  filter: 100%;
}

button:hover {
  transform: scale(1.2, 1.2);

  filter: brightness(120%);
}

.arrow-icon {
  width: 15px;
  height: auto;
}

.error {
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-left: 2rem;
  color: var(--color-soft-red);
  display: none;
}

.error-icon {
  position: absolute;
  top: 0.8rem;
  right: 7.6rem;
  display: none;
}

.hero-desktop {
  width: 100%;
  height: auto;
}

.hero-mobile {
  display: none;
}

.attribution {
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1110px) {
  .container-1 {
    margin-top: 6rem;
  }
}

@media (max-width: 1000px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
    justify-items: center;
    padding-left: 0;
    background: none;
  }

  .container-1 {
    margin-left: 0;
    align-items: center;
    text-align: center;
  }

  .description {
    max-width: 350px;
  }

  .header-logo {
    order: 1;
    text-align: center;
    padding-left: 4rem;
    padding-bottom: 3rem;
  }
  .hero-desktop {
    display: none;
    width: 100%;
  }
  .hero-mobile {
    display: block;
  }
}

@media (max-width: 400px) {
  main {
    padding-left: 2rem;
    padding-right: 0;
  }

  .header-logo {
    padding-left: 0;
  }

  input {
    padding-left: 1rem;
    padding-right: 12rem;
  }

  .error {
    padding: 0;
  }
}
