.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  min-height: 100vh;
  position: relative;
}
body {
}
.container {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: aqua; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;

  background-color: antiquewhite;
}

.bottom-content {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  /* justify-content: space-around; */
  background-color: bisque;
  justify-content: flex-end;
  justify-content: center;
  margin-right: 100px;
}

.subscription {
  padding-bottom: 80px;
  margin-right: 0;
}

.why-us-section {
  align-items: center;
  padding-bottom: 80px;
}

.why-us-section ul {
  list-style: none;
}
