/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

:root {
  --gradient-active-input-border: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );

  --color-input-errors: hsl(0, 100%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 3%, 87%);
  --color-dark-grayish-violet: hsl(279, 6%, 55%);
  --color-very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  min-height: 100vh;
}

main {
  display: flex;
  gap: 5%;
  justify-content: space-between;
  margin-top: 10%;
}

main::before {
  content: "";
  background-image: url("images/bg-main-desktop.png");
  background-size: cover;
  width: 35%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.card-container {
  max-width: 1440px;
  width: 100%;
  color: var(--color-white);
}

.card-front {
  max-width: 450px;
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  margin-left: auto;
  margin-right: auto;
  height: 15rem;
  background-image: url(images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 2rem;
  /* margin: 0 auto 32px; */
}

.card-logo {
  padding-bottom: 1rem;
}

.card-number {
  font-size: 1.6rem;
  letter-spacing: 0.3rem;
}

.cardholder-details {
  display: flex;
  /* justify-content: space-between; */
  gap: 10rem;
}

.cardholder-name {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}
.card-expiry-date {
  font-size: 1rem;
}

.card-back {
  max-width: 550px;
  width: 100%;
  height: 15rem;

  background-image: url(images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  color: var(--color-white);

  margin-left: auto;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.card-details-container {
  /* display: none; */
}

.card-cvv {
  font-size: 1rem;

  position: absolute;
  right: 160px;
}

.cardholder {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.card-details-container {
  max-width: 400px;
  width: 100%;

  margin-top: 6rem;

  margin-right: 10rem;

  /* display: none; */
}

form {
  margin-bottom: 2rem;
}

.cardholder-input {
  max-width: 100%;
  width: 350px;
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-grayish-violet);
  font-size: 15px;

  padding-left: 15px;

  letter-spacing: 0.04rem;
}
.cardholder-input-margin {
  margin-bottom: 10px;
}

.expiry-details {
  max-width: 100%;
  width: 90px;
  height: 45px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-grayish-violet);
}
.cvc-margin {
  margin-left: 20px;
}
.cvc-details {
  max-width: 100%;
  width: 150px;
  height: 45px;
  margin-top: 10px;

  font-size: 15px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-grayish-violet);
  padding-left: 10px;
}

.confirm-button {
  padding: 10px 150px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-grayish-violet);
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-very-dark-violet);
  cursor: pointer;
}

.alert {
  font-size: 0.7rem;
  margin-left: 5px;
  margin-bottom: 10px;
  color: var(--color-input-errors);
}

.input-bottom {
  display: flex;

  margin-bottom: 20px;
  width: 100%;
  gap: 10px;
}

.expiry-date {
  display: flex;
  gap: 10px;
}

.thankyou-container {
  margin-top: 6rem;
  text-align: center;
  margin-right: 15rem;
  display: none;
}

.thankyou-image {
  width: 70px;
  margin-bottom: 30px;
}

.thankyou-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--color-very-dark-violet);
  margin-bottom: 1rem;
}

.thankyou-text {
  font-size: 1rem;
  color: hsl(279, 6%, 55%);
  font-weight: lighter;
  margin-bottom: 30px;
}

.continue-button {
  padding: 10px 100px;
}

@media (max-width: 1070px) {
  .card-front,
  .card-back {
    /* width: 150%; */
    margin-left: 2rem;
  }
  .card-details-container {
    margin-left: 10rem;
  }

  .thankyou-container {
    margin-top: 35rem;
    margin-left: 10rem;
    margin-bottom: 10rem;
  }
}

@media (max-width: 1040px) {
  main {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  main::before {
    display: none;
  }

  main::after {
    content: "";
    background-image: url(images/bg-main-mobile.png);
    background-size: cover;
    width: 100%;
    height: 480px;
    /* height: 80vh; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }

  .card-container {
    display: flex;
    flex-direction: column-reverse;
    margin-right: 0;
    padding-left: 4rem;

    position: relative;
  }

  .card-back,
  .card-front {
    /* max-width: 100%; */
    width: 100%;
    /* width: 80%; */
    margin-left: auto;
    margin-right: auto;
  }

  .card-back {
    position: absolute;
    top: 4rem;
    left: 10rem;

    z-index: -1;

    width: 100%;

    /* width: 80%; */
  }

  .card-front {
    top: 12.5rem;
    left: 5rem;
    position: absolute;
    z-index: 1;
  }

  .card-details-container {
    margin-top: 40rem;
    /* margin-left: 5%; */
  }
  .card-cvv {
    left: 20rem;
  }

  .expiry-date {
    left: 20rem;
  }
}

@media (max-width: 740px) {
  main::after {
    height: 250px;
  }
  .card-front {
    gap: 0.5rem;
  }

  .cardholder-details {
    margin-top: 1rem;
    gap: 5.5rem;
  }

  .cardholder-name,
  .card-expiry-date {
    font-size: 10px;
  }
  .card-back,
  .card-front {
    max-width: 60%;
  }

  .card-front {
    top: 9.5rem;
  }

  .card-logo img {
    width: 30%;
  }

  .card-number {
    font-size: 1rem;
    letter-spacing: 0.2rem;
    white-space: nowrap;
  }

  .card-cvv {
    top: 4.2rem;
    left: 14rem;
  }

  .card-details-container {
    margin-top: 25rem;
  }
}
