/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */

:root {
  --gradient-active-input-border: linear-gradient(
    to right,
    hsl(249, 99%, 64%),
    hsl(278, 94%, 30%)
  );

  --color-input-errors: hsl(0, 100%, 66%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 3%, 87%);
  --color-dark-grayish-violet: hsl(279, 6%, 55%);
  --color-very-dark-violet: hsl(278, 68%, 11%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  /* min-height: 100vh; */
}

main {
  display: flex;
  gap: 20%;
  /* justify-content: space-around; */
  justify-content: center;
  align-items: center;
  margin-top: 10%;

  /* padding-left: 10rem; */
}

main::before {
  content: "";
  background-image: url("images/bg-main-desktop.png");
  background-size: cover;
  width: 35%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.card-container {
  /* max-width: 1440px;
  width: 100%; */
  color: var(--color-white);
}

.card-front {
  /* /* max-width: 450px; */
  /* width: 100%; */
  padding: 1rem;
  margin-left: 10rem;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 2rem; */

  /* margin-left: auto; */
  /* margin-right: auto; */
  height: 15rem;
  background-image: url(images/bg-card-front.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* margin-bottom: 2rem; */
  /* margin: 0 auto 32px; */
}

.card-logo {
  padding-bottom: 2rem;
}

.card-number {
  font-size: 1.1rem;
  letter-spacing: 0.3rem;
  padding-left: 1rem;
}

.cardholder-details {
  display: flex;
  /* justify-content: space-between; */
  gap: 10rem;
  padding-top: 2.5rem;
}

.cardholder-name {
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
  text-wrap: nowrap;
}
.card-expiry-date {
  font-size: 0.8rem;
}

.card-back {
  margin-left: 20rem;
  /* /* max-width: 450px; */
  /* width: 100%; */
  padding: 1rem;
  /* padding-left: 2rem; */
  /* padding-right: 2rem; */
  /* display: flex; */
  /* flex-direction: column; */
  /* gap: 2rem; */

  /* margin-left: auto; */
  /* margin-right: auto; */
  height: 15rem;
  background-image: url(images/bg-card-back.png);
  background-repeat: no-repeat;
  background-size: contain;
  /* margin-bottom: 2rem; */
  /* padding-left: 10rem; */
  /* margin: 0 auto 32px; */
  /* position: relative; */
}

.card-details-container {
  /* display: none; */
}

.card-cvv {
  font-size: 1rem;
  /* position: absolute; */
  /* top: 1rem; */
  /* left: 17rem; */
  /* bottom: 8.4rem; */
}

.cardholder {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.card-details-container {
  /* max-width: 400px;
  width: 100%; */

  margin-top: 6rem;

  margin-right: 10rem;

  /* display: none; */
}

form {
  margin-bottom: 2rem;
}

.cardholder-input {
  width: 100%;
  /* width: 350px; */
  height: 40px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-grayish-violet);
  font-size: 15px;

  padding-left: 15px;

  letter-spacing: 0.04rem;
}
.cardholder-input-margin {
  margin-bottom: 10px;
}

.expiry-details {
  max-width: 100%;
  width: 90px;
  height: 45px;
  margin-top: 10px;
  padding-left: 10px;
  font-size: 15px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-grayish-violet);
}
.cvc-margin {
  margin-left: 20px;
}
.cvc-details {
  /* max-width: 100%;
  width: 150px; */
  height: 45px;
  margin-top: 10px;

  font-size: 15px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-grayish-violet);
  padding-left: 10px;
}

.confirm-button {
  padding: 10px 150px;
  border-radius: 10px;
  border: 1px solid var(--color-dark-grayish-violet);
  font-size: 18px;
  color: var(--color-white);
  background-color: var(--color-very-dark-violet);
  cursor: pointer;
}

.alert {
  font-size: 0.7rem;
  margin-left: 5px;
  margin-bottom: 10px;
  color: var(--color-input-errors);
}

.input-bottom {
  display: flex;

  margin-bottom: 20px;
  /* width: 100%; */
  gap: 10px;
}

.expiry-date {
  display: flex;
  gap: 10px;
}

.thankyou-container {
  margin-top: 6rem;
  text-align: center;
  margin-right: 15rem;
  display: none;
}

.thankyou-image {
  width: 70px;
  margin-bottom: 30px;
}

.thankyou-title {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  color: var(--color-very-dark-violet);
  margin-bottom: 1rem;
}

.thankyou-text {
  font-size: 1rem;
  color: hsl(279, 6%, 55%);
  font-weight: lighter;
  margin-bottom: 30px;
}

.continue-button {
  padding: 10px 100px;
}
/* 
@media (max-width: 900px) {
  main {
    flex-direction: column;
  }

  main::before {
    display: none;
  }

  main::after {
    content: "";
    background-image: url("images/bg-main-mobile.png");
    background-size: cover;
    width: 100%;
    height: 80%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
  }

  .card-container {

    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
  }

  .card-front {
    grid-row: 2 / -2;

    margin-top: -6.5rem;
    margin-left: -10rem;
    z-index: 100;
  }



} */
