.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --color-intro-sign-up-bg: hsl(217, 28%, 15%);
  --color-main-bg: hsl(218, 28%, 13%);
  --color-footer-bg: hsl(216, 53%, 9%);
  --color-testimonial-bg: hsl(219, 30%, 18%);

  --color-cyan-cta-gradient: hsl(176, 68%, 64%);
  --color-blue-cta-gradient: hsl(198, 60%, 50%);
  --color-error: hsl(0, 100%, 63%);

  --color-white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;

  /* background-color: orangered; */
  color: var(--color-white);
}

main {
  background-color: var(--color-main-bg);
  /* position: relative; */
}

.header {
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-intro-sign-up-bg);
}

.header-logo {
  width: 100px;
}

.header-nav {
  display: flex;
}

.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: var(--color-white);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.nav-list a:hover {
  color: #00bcd4;
  text-decoration: underline;
}

.section-1 {
  /* width: 70%; */
  /* max-width: 440px; */
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  /* z-index: 1000; */

  background: url(images/bg-curvy-desktop.svg) no-repeat;
  background-size: contain;
  background-position: center bottom;
  /* position: relative; */
  background-color: var(--color-intro-sign-up-bg);
}

.intro-img {
  max-width: 100%;
  height: auto;
  max-height: 450px;
  margin-bottom: 2rem;
}

.heading-1 {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 15px;
  width: 500px;
}

.description {
  color: #c8c5c5;
  line-height: 1.6;
  max-width: 100%;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}

.get-started-btn {
  background: linear-gradient(
    to right,
    var(--color-cyan-cta-gradient),
    var(--color-blue-cta-gradient)
  );
  color: var(--color-white);
  padding: 10px 60px;

  border: none;
  border-radius: 2rem;
  cursor: pointer;
}

.get-started-btn:hover {
  background: linear-gradient(
    to right,
    var(--color-blue-cta-gradient),
    var(--color-cyan-cta-gradient)
  );
}

.section-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  /* align-items: center;
  justify-items: center; */
  column-gap: 6rem;
  row-gap: 3rem;
  width: 100%;
  max-width: 890px;
  margin: 5rem auto;

  /* margin-right: 10rem;
  margin-left: 10rem; */
  /* padding: 5rem 20rem; */

  /* background: url(images/bg-curvy-desktop.svg); */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */
  /* overflow: hidden; */
}

.card {
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
}

.card img {
  width: 50px;
}

.heading-2 {
  font-size: 1.2rem;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.text {
  color: #c8c5c5;
  margin-top: 10px;
  line-height: 1.4;
}

.section-3 {
  display: flex;
  align-items: center;

  gap: 5rem;
  padding-left: 10rem;

  /* padding: 0 10rem; */
  margin-bottom: 10rem;
  /* margin: 0 auto; */
  /* max-width: 400px; */
  /* width: 100%; */
}

.collaboration-img {
  /* padding-left: 10rem; */
  width: 100%;
}

.section-3-content {
  max-width: 500px;
  width: 80%;
  flex-grow: 1;
}

.heading-1-content {
  /* padding-right: 10rem; */
}

.content {
  margin-bottom: 1rem;
  color: #c8c5c5;
  /* padding-right: 1rem; */
}

.demo-link {
  color: var(--color-cyan-cta-gradient);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.section-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  /* margin-left: 5rem; */
}

.section-4-card {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-bottom: 20rem;
}

.quote-container {
  position: absolute;
  top: -3rem;
  left: 5%;
  transform: translateX(-50%);
  /* margin-left: 10rem; */
}
.image-quote {
  /* margin-bottom: 20px; */
}

.section-4-card-1 {
  border-radius: 8px;
  overflow: hidden;
  width: 80%;
  max-width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: var(--color-testimonial-bg);
  margin-bottom: 20px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  color: #c8c5c5;
}

.card-text {
  font-weight: 400;
  line-height: 1.4;
}

.card-profile {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.8rem;
  margin-top: 0.6rem;
}

.profile {
  margin-top: 0.5rem;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.profile-details {
  margin-top: 10px;
}

.profile-name {
  color: var(--color-white);
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.profile-designation {
  font-size: 0.7rem;
}

.section-5 {
  position: relative;
  /* bottom: 10%; */
}

.section-5-cta {
  text-align: center;
  /* box-shadow: 0 0 8px hsl(208, 11%, 55%); */
  background-color: #1c2431;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 10rem;
  border-radius: 10px;
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #c8c5c5;
  max-width: 800px;
  width: 100%;
  /* align-items: center; */
  /* margin-top: 10rem; */
}

.heading-3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.section-5-btn {
  white-space: nowrap;
  width: 50%;
  height: 40px;
  background: linear-gradient(
    to right,
    var(--color-cyan-cta-gradient),
    var(--color-blue-cta-gradient)
  );
  color: var(--color-white);
  /* padding: 20px; */
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 14px;
}

.section-5-btn:hover {
  background: linear-gradient(
    to right,
    var(--color-blue-cta-gradient),
    var(--color-cyan-cta-gradient)
  );
}

.footer {
  background-color: var(--color-footer-bg);
  /* color: #c8c5c5; */
  padding-top: 9rem;
  padding-left: 8rem;
  padding-right: 8rem;
  padding-bottom: 9rem;
  max-width: 1500px;
  width: 100%;

  /* position: relative; */
}

.footer-logo {
  margin-bottom: 2rem;
}

.footer-details {
  display: flex;
  justify-content: space-between;
  gap: 6rem;
  /* gap: 8rem; */
}
.address {
  max-width: 1000px;
  width: 100%;
  line-height: 1.6;
}

.icon {
  color: white;
}
.footer-list {
  width: 200px;
}

.footer-contact li a,
.footer-list li a {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}

.footer-social li,
.footer-contact li,
.footer-list li {
  list-style: none;
  margin-bottom: 1.6rem;
}

.footer-social li a,
.footer-list li a,
.footer-contact li a {
  /* color: var(--color-pale-cyan); */
  text-decoration: none;
  color: #c8c5c5;
}

.footer-social {
  display: flex;

  gap: 1.5rem;
}

.footer-social li a {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
