:root {
  --color-pink: hsl(322, 100%, 66%);
  --color-pale-cyan: hsl(193, 100%, 96%);
  --color-dark-cyan: hsl(192, 100%, 9%);
  --color-grayish-blue: hsl(208, 11%, 55%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

main {
  position: relative;
}

.section-1 {
  background: url(images/bg-hero-desktop.svg);
  background-color: var(--color-pale-cyan);
  padding-bottom: 4rem;
  padding-left: 4rem;
  padding-right: 1.5rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem;
}

.header-logo {
  max-width: 100%;
}

.button-try,
.button-get-started {
  background-color: white;
  color: black;
  font-weight: 700;
  border: none;
  box-shadow: 0 0 10px hsl(208, 11%, 55%);
  padding: 1rem 4rem;
  border-radius: 2rem;
  cursor: pointer;
}

.button-get-started {
  background-color: var(--color-pink);
  color: white;
}

.section-2 {
  margin-bottom: 20rem;
}

.section-1-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.container-1 {
  max-width: 460px;
  margin-left: 5rem;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 600;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.text-1 {
  color: black;
  margin-bottom: 2rem;
}

.container-2 {
  margin-right: 8rem;
}

.container-2 img {
  width: 100%;
}

.section-2-card {
  margin-left: 10rem;
  margin-right: 10rem;

  padding: 2rem;
  padding-left: 5rem;
  box-shadow: 0 0 8px hsl(208, 11%, 55%);
  border-radius: 10px;
}

.section-2-card-1,
.section-2-card-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15rem;
}

.section-2-card-2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}

.heading-2 {
  margin-bottom: 1rem;
}

.description {
  color: var(--color-grayish-blue);
}

.section-2-card-1 {
  margin-top: 6rem;
}

.section-2-card-1,
.section-2-card-2 {
  margin-bottom: 2rem;
}

.card-img img {
  width: 100%;
  height: auto;
}

.section-3 {
  position: absolute;
  top: 109%;
  left: 30%;
  z-index: 100;
}

.section-cta {
  text-align: center;
  box-shadow: 0 0 8px hsl(208, 11%, 55%);
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-bottom: 10rem;
  border-radius: 10px;
}

.heading-3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.footer {
  background-color: var(--color-dark-cyan);
  color: white;
  padding: 8rem;
  position: relative;
}

.footer-logo {
  filter: invert(10);
  margin-bottom: 2rem;
}

.footer-details {
  display: flex;
  gap: 8rem;
}

.icon {
  color: white;
}

.footer-contact {
  width: 31%;
}

.footer-contact li,
.footer-social li,
.footer-list li {
  list-style: none;
  margin-bottom: 1.6rem;
}

.footer-social li a,
.footer-list li a,
.footer-contact li a {
  color: var(--color-pale-cyan);
  text-decoration: none;
}

.footer-social {
  display: flex;
  gap: 1.5rem;
}

.footer-social li a {
  border: 1px solid white;
  border-radius: 50%;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.copyright-container {
  position: absolute;
  bottom: 80px;
  right: 0;
  margin-right: 5rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1200px) {
  .section-1-container {
    grid-template-columns: 1fr;
    align-items: center;
    gap: 5rem;
    justify-items: center;
    text-align: center;
    margin: 0 auto;
  }

  .container-1 {
    max-width: 600px;
  }

  .container-2 img {
    width: 80%;
  }
}
